/DigitalClock/DigitalClock/nbproject/private/
/ConstructorsReview/nbproject/private/
/ConstructorsReview/build/
/DigitalClock/build/
/DigitalClock/dist/
/PercentageCalculator/nbproject/private/
/PercentageCalculate/nbproject/private/
/PercentageCalculate/build/